@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Montserrat', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;

  /*background: #090909;*/
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.app {
  background: #D8E2EB;
}



.container {
  /*margin: 0 auto;*/
  /*width: 1200px;*/
  padding: 40px;
}

/*.main-grid {*/
/*    height: calc(100vh - 80px);*/
/*    display: grid;*/
/*    grid-template-columns: minmax(150px, 300px) 1fr;*/
/*    grid-template-rows: 1fr;*/
/*}*/

.sidebar-container {
  height: 100%;
}

.sidebar-container .sidebar {
  min-width: 110px;
}

.sidebar-navigation {
  margin-top: 2rem;
}

.sidebar-navigation-item {
  color: #fff!important;
  display: block;
  margin: 30px 20px;
  text-align: center;
  cursor: pointer;
}
/*ICON-NAVIGATION RANDOM*/
.sidebar-navigation-item_random .navlink-content {
  background-size: 25px;
}

.dark-theme .sidebar-navigation-item_random .navlink-content {
  background-image: url("./img/dice-white.svg");
}

.dark-theme .sidebar-navigation-item_random.sidebar-navlink-active .navlink-content {
  background-image: url("./img/dice-white.svg");
}

.light-theme .sidebar-navigation-item_random .navlink-content {
  background-image: url("./img/dice-white.svg");
}

.light-theme .sidebar-navigation-item_random.sidebar-navlink-active .navlink-content {
  background-image: url("./img/dice-dark.svg");
}
/*ICON-NAVIGATION RANDOM ANIMATION*/
.dark-theme .sidebar-navigation-item_random.sidebar-navigation-item_animation .navlink-content {
  background-image: url("./img/dices-white-animation.svg");
}

.dark-theme .sidebar-navigation-item_random.sidebar-navlink-active.sidebar-navigation-item_animation .navlink-content {
  background-image: url("./img/dices-white-animation.svg");
}

.light-theme .sidebar-navigation-item_random.sidebar-navigation-item_animation .navlink-content {
  background-image: url("./img/dices-white-animation.svg");
}

.light-theme .sidebar-navigation-item_random.sidebar-navlink-active.sidebar-navigation-item_animation .navlink-content {
  background-image: url("./img/dices-dark-animation.svg");
}
/*ICON-NAVIGATION SEARCH*/
.dark-theme .sidebar-navigation-item_search .navlink-content {
  background-image: url("./img/search-nav-white.png");
}

.dark-theme .sidebar-navigation-item_search.sidebar-navlink-active .navlink-content {
  background-image: url("./img/search-nav-white.png");
}

.light-theme .sidebar-navigation-item_search .navlink-content {
  background-image: url("./img/search-nav-white.png");
}

.light-theme .sidebar-navigation-item_search.sidebar-navlink-active .navlink-content {
  background-image: url("./img/search-nav-dark.png");
}
/*ICON-NAVIGATION TOP*/
.dark-theme .sidebar-navigation-item_top .navlink-content {
  background-image: url("./img/ranking.png");
}

.dark-theme .sidebar-navigation-item_top.sidebar-navlink-active .navlink-content {
  background-image: url("./img/ranking.png");
}

.light-theme .sidebar-navigation-item_top .navlink-content {
  background-image: url("./img/ranking.png");
}

.light-theme .sidebar-navigation-item_top.sidebar-navlink-active .navlink-content {
  background-image: url("./img/ranking-dark.png");
}
/*ICON-NAVIGATION POPULAR*/
.dark-theme .sidebar-navigation-item_popular .navlink-content {
  background-image: url("./img/burn.png");
}

.dark-theme .sidebar-navigation-item_popular.sidebar-navlink-active .navlink-content {
  background-image: url("./img/burn.png");
}

.light-theme .sidebar-navigation-item_popular .navlink-content {
  background-image: url("./img/burn.png");
}

.light-theme .sidebar-navigation-item_popular.sidebar-navlink-active .navlink-content {
  background-image: url("./img/burn-dark.png");
}
/*ICON-NAVIGATION RELEASES*/
.dark-theme .sidebar-navigation-item_releases .navlink-content {
  background-image: url("./img/video-camera-white.png");
}

.dark-theme .sidebar-navigation-item_releases.sidebar-navlink-active .navlink-content {
  background-image: url("./img/video-camera-white.png");
}

.light-theme .sidebar-navigation-item_releases .navlink-content {
  background-image: url("./img/video-camera-white.png");
}

.light-theme .sidebar-navigation-item_releases.sidebar-navlink-active .navlink-content {
  background-image: url("./img/video-camera.png");
}
/*ICON-NAVIGATION SETTINGS*/
.dark-theme .sidebar-navigation-item_settings .navlink-content {
  background-image: url("./img/settings-white.png");
}

.dark-theme .sidebar-navigation-item_settings.sidebar-navlink-active .navlink-content {
  background-image: url("./img/settings-white.png");
}

.light-theme .sidebar-navigation-item_settings .navlink-content {
  background-image: url("./img/settings-white.png");
}

.light-theme .sidebar-navigation-item_settings.sidebar-navlink-active .navlink-content {
  background-image: url("./img/settings-black.png");
}






/*.light-theme .sidebar-navigation-item:nth-child(1) .navlink-content {*/
/*  background-image: url("./img/dices-dark-animation.svg")!important;*/
/*}*/

/*.dark-theme .sidebar-navigation-item:nth-child(1) .navlink-content {*/
/*  background-image: url("./img/dices-white-animation.svg")!important;*/
/*}*/

.upper-circle, .bottom-circle, .navlink-rect {
  display: none;
}

.sidebar-navlink-active {
  color: #000!important;
  position: relative;
  z-index: 30;
}

.sidebar-navlink-active .bottom-circle {
  display: block;
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 20px;
  z-index: 2;
  height: 20px;
  border-top-right-radius: 20px;
  background-color: #772afe;
}

.navlink-content {
  position: relative;
  z-index: 10;
  background-size: 20px;
  background-position: right center;
  background-repeat: no-repeat;
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.navlink-content_animation {
  background-size: 25px;
}

.sidebar-navlink-active .navlink-rect {
  background-color: #f7f7ff;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 36px;
  z-index: 2;
  width: 100%;
}

.dark-theme .sidebar-navlink-active .navlink-rect {
  background-color: #181818;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.sidebar-navlink-active .upper-circle {
  display: block;
  position: absolute;
  top: -20px;
  right: -20px;
  width: 20px;
  z-index: 2;
  height: 20px;
  border-bottom-right-radius: 20px;
  background-color: #772afe;
}

.sidebar-navlink-active:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  right: -20px;
  height: 76px;
  width: 20px;
  top: -20px;
  background-color: #f7f7ff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.sidebar {
  border-radius: 50px;
  /*background: linear-gradient(10deg, #772afe, #2196f1);*/
  /*background-image: url("./img/bg-blue.jpg");*/
  background-color: #772afe;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 40px 0;
  position: relative;
}

.sidebar-logo img {
  margin: 0 auto;
  display: block;
  width: 50px;
  transform: rotate(-15deg);

}

.content {
  /*background: linear-gradient(10deg, #D8E2EB, #f7f7ff);*/
  background-color: #f7f7ff;
  position: relative;
  border-radius: 50px;
  height: calc(100vh - 80px);
  padding: 20px;
  display: flex;
}

.main-content {
  flex: 1;
  padding: 20px 20px 10px 20px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/*.movie-grid {*/
/*    display: grid;*/
/*    height: 100vh;*/
/*    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;*/
/*    grid-template-rows: 1fr 1fr 1fr 1fr;*/
/*    grid-template-areas:*/
/*            "a b c d d"*/
/*            "a b g d d"*/
/*            "f h j j e"*/
/*            "k h j j e";*/
/*}*/

.search-wrap {
  /*height: 100vh;*/
  /*background-image: url("./img/back.jpg");*/

  background-repeat: no-repeat;
  background-size: cover;
}

.header-search {
  position: relative;
  transition: height 0.2s ease-in;
  border-radius: 20px;
  background-color: #fff;
}

.search-container-input {
  position: relative;
}

.header-search input {
  outline: none;
  padding: 0.6rem 0.8rem 0.6rem 35px;
  width: 250px;
  height: 34px;
  box-sizing: border-box;
  border: none;
  background-image: url("img/search-icon.png");
  background-position: 10px center;
  background-size: 15px;
  background-repeat: no-repeat;
  background-color: transparent;
  color: #9daad6;
  transition: all 0.2s ease-in;
}

.search-wrap input::placeholder {
  color: #9daad6;
}

.search-wrap button {
  background: #1e1d1d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  display: block;
}

.search-wrap form {

}

.extend-settings-search {
  display: flex;
  padding: 0.6rem 2.2rem;
  background-color: #fff;
  border-radius: 20px;
}

.result-holder {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  background: #3c506799;
  border-radius: 35px;
  position: absolute;
  z-index: 10;
  backdrop-filter: blur(20px);
}

.result-search-empty-results {
  color: #ffffff;
  text-align: center;
  font-weight: 400;
  font-size: 0.9rem;
}

.search-container {
  width: 100%;
  padding: 0 2rem;
}

.preview-search-item {
  display: flex;
  padding: 0.4rem;
  border-radius: 25px;
  transition: all 0.1s ease-in;
}

.preview-search-item:hover {
  background: #00000017;
  cursor: pointer;
}

.preview-search-item img {
  width: 80px;
  border-radius: 25px;
}

a, a:hover, a:active, a:visited {
  color: inherit;
  text-decoration: none;
}

.preview-search-genres {
  font-size: 0.8rem;
  margin-top: 20px;
  display: block;
  margin-left: auto;
}

.preview-search-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 40px;
}

.preview-search__content {
  margin: 5px 15px;
  position: relative;
  width: 100%;
  color: #fff;
}

.preview-search-rating {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
}

.raiting-stars {
  height: 10px;
  margin-right: 10px;
  background-image: url("img/star.png");
  background-size: 10px;
}

.preview-search-image {
  transition: background ease-in 0.2s;
}

.preview-search-image.load img{
  display: none;
}

.preview-search-image .load {
  width: 80px;
  min-height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}

.loading-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.load-image {
  width: 100%;
  height: 100%;
  background-size: cover, 50px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 35px;
  min-width: 138px;
  min-height: 208px;
}

.movie-page-image .load-image {
  min-width: 138px;
  min-height: 208px;
}

.loading-icon {
  width: 28px;
  height: 28px;
  background-image: url("img/loading_spinner.svg");
  background-size: contain;
  margin: 0 auto;
}

.loading-icon ~ img {
  display: none;
}

.preview-search-year {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7rem;
  font-weight: bold;
}

.movie-image {
  height: 100%;
  /*flex: 1 1 30%;*/
  /*min-width: 30%;*/
}

.movie-image img {
  width: 100%;
  border-radius: 35px;
  object-fit: cover;
}

.movie-raiting {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
}

.movie-release {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.7rem;
  font-weight: bold;
}

.movie-title {
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 45px;
}

.main-load {
}

.movie-genres {
  margin-top: 20px;
}

.movie-image .load {
  width: 100%;
  height: 100%;
  display: flex;
}

.blur {
  backdrop-filter: blur(70px);
  width: 100%;
  height: 100%;
}

.movie-information {
  margin-left: 10px;
  position: relative;
  flex: 1 1 100%;
  padding: 10px;
}

.movie-item {
  border-radius: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.blur {
  backdrop-filter: blur(30px);
}

.modal-window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 500px;
  border-radius: 35px;
  position: relative;
}

.btn-back-to-trailers {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: -60px;
  animation-duration: 0.5s;
  animation-name: scaleIn;
  opacity: 0;
  animation-fill-mode: forwards;
  background-image: url("./img/left-arrow.svg");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #181818;
  border-radius: 50%;
  transition: all ease-in 0.2s;
  cursor: pointer;
}

.btn-back-to-trailers:hover {
  background-color: #000000;
}

.modal-window iframe {
  width: 100%;
  height: 100%;
  border-radius: 35px;

}

.modal-container {
  /*opacity: 0;*/
  /*transition: 0.2s; !*Скорость перехода состояния элемента*!*/
  /*animation: show 0.2s 1; !* Указываем название анимации, её время и количество повторов*!*/
  /*animation-fill-mode: forwards; !* Чтобы элемент оставался в конечном состоянии анимации *!*/
  /*animation-delay: 1s; !* Задержка перед началом *!*/
}

.modal-container .main-load {
  align-items: center;
  height: 100%;
}

@keyframes show{
  0%{
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.modal-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  /*backdrop-filter: blur(10px);*/
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 12;
  left: 0;
}

.movie-container {
  display: flex;
  background-color: #000000a8;
  border-radius: 35px;
  color: #fff;
  padding: 10px;
}

.dark-theme .movie-container {
  background-color: #000000a8;
}

/*.light-theme .movie-container {*/
/*  background-color: #ffffff7d;*/
/*}*/

.main-grid-movies {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
  grid-gap: 20px;
  margin-top: 30px;
}

.movie-page-container {
  margin-top: 30px;
  display: flex;
  height: calc(100% - 57px);
}

.movie-page-description {
  max-height: 100px;
  overflow: auto;
}


.quiz-image img {
  width: 400px;
  height: auto;
}

.sequel-movie {
  width: 140px;
  text-align: center;
}

.sequel-movie-title {
  font-size: 0.8rem;
  min-height: 30px;
}

.sequel-movie-back {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 10px;
  height: 100px;
  width: 75px;
  border-radius: 20px;
  margin: 10px auto;
}

.movie-page-prequels {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  max-width: 100%;
  overflow-x: auto;
}

.movie-page-upper {
  border-radius: 50px;
  background-size: cover;
  height: 100%;
  flex: 1;
}

.movie-page-upper-information {
  border-radius: 50px;
  display: flex;
  color: #fff;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.64);
}

.movie-page-image {
  width: 300px;
}

.movie-page-image img {
  width: 100%;
  height: auto;
  border-radius: 35px;
}

.movie-page-main-information {
  margin-left: 20px;
  position: relative;
}

.movie-page-main-information>div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.movie-page-rating div {
  margin-top: 20px;
}

.movie-page-image {
  flex: 1 1 20%;
}

.movie-page-main-information {
  flex: 1 1 80%;
}

.movie-page-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.trailer-video {
  border-radius: 40px;
  overflow: hidden;
}
.trailer-container {
  width: 700px;
  margin: 60px auto 0px auto!important;
}
.trailer-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.trailer-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn-watch-trailer {
  width: 180px;
  padding: 10px;
  color: #fff;
  background-color: #181818;
  border-radius: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn-watch-trailer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.btn-watch-trailer-container>* {
  margin-top: 10px;
}

.search-extended {
  background-image: url("img/sound-controller.png");
  position: absolute;
  right: 20px;
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
  top: 7px;
  cursor: pointer;
}

.search-wrap_extended {
}

.search-wrap_extended input {
  width: 500px;
}

.btn-watch {
  width: 180px;
  padding: 10px;
  color: #fff;
  background-color: #181818;
  border-radius: 18px;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn-watch-trailer:hover {
  transform: translateY(-1px);
  background-color: #4c60f8;
}

.btn-watch:hover {
  transform: translateY(-1px);
  background-color: #4c60f8;
}

.main-load {
  display: flex;
  justify-content: center;
}

.movie-row-container {
  display: flex;
  border-radius: 25px;
}

.movie-row-container, .movie-item {
  animation-duration: 0.5s;
  animation-name: scaleIn;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.movie-row-title {
  flex: 1 1 calc(100% - 50px);
  max-width: calc(100% - 50px);
  display: flex;
  align-items: center;
  padding-right: 10px;
  justify-content: center;
}
.movie-row-right-content-containe {
  flex: 1 1 40px;
  text-align: right;
}

.movie-row-container>div {
  background-color: rgba(0, 0, 0, 0.72);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 25px;
  padding: 15px 20px;
  position: relative;
  color: #fff;
}

.movie-row-rating {
  width: 35px;
  margin-top: 8px;
}

.popular-films-container, .top-films-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-auto-rows: 86px; */
  grid-gap: 20px;
  grid-auto-rows: max-content;
}

.choose-theme {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.theme-btn {
  display: block;
  padding: 20px 30px;
  background-color: #9daad6;
  border-radius: 10px;


}

::-webkit-scrollbar {
  width: .5em;
  height: .5em;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2196f3;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #9fcef3;
  border-radius: 5px;
}

.scroll {
  overflow-y: auto;
  height: calc(100% - 55px);
  padding-right: 20px;
}

.dark-theme .content {
  background-color: #181818;
}

.app.dark-theme {
  background: #000;
}

.dark-theme .sidebar-navlink-active {
  color: #fff!important;
}

.dark-theme .sidebar-navlink-active:after {
  background-color: #181818;
}

.switch {
  position: relative;
  display: inline-block;
  width: 74px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  background-image: url("img/sun.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #eeeeee;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #181818;
  background-image: url("img/moon.png");
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: left 10px center;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  background-color: #ffffff;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sidebar-navlink-active .navlink-rect {
  animation-duration: 0.5s;
  animation-name: slidein;
}



.sidebar-navlink-active .upper-circle {
  animation-duration: 0.5s;
  animation-name: up-circle-animation;

}

.sidebar-navlink-active .bottom-circle {
  animation-duration: 0.5s;
  animation-name: bottom-circle-animation;

}

.sidebar-navlink-active:after {
  animation-duration: 0.5s;
  animation-name: after-circle-animation;
}

.app, .sidebar, .content{
  transition: background-color 0.2s ease-in;
}

.list-choose {
  z-index: 100;
  border-radius: 5px;
  position: absolute;
  top: 35px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  padding-right: 10px;
}

.showed .list-choose {
  height: 174px;
  overflow: auto;
}

.list-choose li {
  padding: 7px 14px;
  margin-bottom: 5px;
  background-color: #ffffff;
  border-radius: 20px;
}

.list-choose li:hover {
  background-color: #d8e2eb;
  cursor: pointer;
}


.settings-container {
  margin-top: 20px;
}

.dropdown-menu-current {
  padding: 7px 30px 7px 12px;
  background-color: #ffffff;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu-current:after {
  content: "";
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  background-image: url("img/arrow-down-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  right: 14px;
  top: 11px;
  transition: transform 0.2s ease-in;
}

.dropdown-menu-container {
  width: 200px;
}

.search-page-multi-range .dropdown-menu-container {
  margin: 0 auto;
}

.settings-item-label {
  margin-right: 20px;
  color: #000000;
}

.dark-theme .settings-item-label {
  color: #fff;
}


.settings-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dropdown-menu {
  position: relative;
}

.showed .list-choose  {
  display: block;
}

.showed .dropdown-menu-current:after {
  transform: rotate(90deg);
}

.search-wrap_extended .header-search {

}

.multifilter {
  margin-bottom: 20px;
}

.multifilter h5 {
  color: #000000;
}

.dark-theme .multifilter h5 {
  color: #ffffff;
}

.multifilters-checkbox-container {
  margin: 20px 0px;
}

.search-filters-container {
  padding: 20px;
  transition: all 0.2s ease-in;
}

.multifilter {
  background-color: #d8e2eb;
  padding: 25px;
  border-radius: 35px;
}

.dark-theme .multifilter {
  background-color: #181818;

}

.scroll-small {
  overflow: auto;
  max-height: 116px;
  padding-right: 10px;
  overflow-x: hidden;
}

.multifilters-item {
  padding: 5px 0px;
  margin-bottom: 3px;
  color: #000000;
  border-radius: 7px;
  position: relative;
}

.dark-theme .multifilters-item {
  color: #ffffff;
}



/* Hide the browser's default checkbox */
.multifilters-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.multifilters-item .checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 15px;
  border-radius: 5px;
  width: 15px;
  z-index: 3;
  background-color: #ffffff;
}

.checktitle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  padding-left: 40px;
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 10px;
}

/* When the checkbox is checked, add a blue background */
.multifilters-item input:checked ~ .checkmark {
  background-color: #2196f3;
}

.multifilters-item input:checked ~ .checktitle {
  background-color: #2196f3!important;
  color: #ffffff;
}

/* On mouse-over, add a grey background color */
.multifilters-item:hover input ~ .checkmark {

}

.multifilters-item:hover input ~ .checktitle {
  background-color: #000000;
  color: #fff;
}



/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.multifilters-item input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.multifilters-item .checkmark:after {
  left: 6px;
  top: 3px;
  width: 2px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(
          45deg
  );
}


.multifilters-item label {
  padding-left: 30px;
}

.search-filters-multi-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.search-filters-multi-container>div {
}

.multi-range-track-container {
  width: 100%;
  position: relative;
  background-color: #4c60f8;
  padding:20px;
}

.multi-range-controller {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #772afe;
  top: -8px;
  z-index: 3;
}

.multi-range-track-bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.multi-range-track-bg>div {
  height: 5px;
  position: absolute;
  left: 50%;
  top: 8px;
  z-index: 1;
  width: 20px;
  background-color: #5a608e;
}

.dark-theme .multi-range-input-container {
  color: #fff;
}

.multi-range-controller_left {
  right: 100%;
}

.multi-range-controller_right {
  left: 100%;
}

.multi-range-track {
  height: 5px;
  z-index: 2;
  position: relative;
  border-radius: 2px;
  background-color: #d8e2eb;
}

.search-page-grid {
  display: grid;
  height: calc(100% - 55px);
  margin-top: 20px;
  grid-template-columns: minmax(600px,4fr) 5fr;
  grid-template-rows: 100%;
  grid-gap: 20px;
}

.search-filters-container, .search-results {
  background-color: #ffffff;
  border-radius: 40px;;
}

.dark-theme .search-filters-container, .dark-theme .search-results {
  background-color: #000;
}

.search-page-multi-range {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.search-page-multi-range>div {
  padding: 20px;
  background-color: #d8e2eb;
  border-radius: 25px;
}

.dark-theme .search-page-multi-range>div {
  background-color: #181818;
}

.multi-range-input-container>h5{
  margin-bottom: 10px;
}

.multi-range-input-container>div {
  display: flex;
  justify-content: space-around;
}

.multifilter h5, .multi-range-input-container h5, .search-page-label{
  text-align: center;
}

.search-page-label {
  color: #000;
  margin-bottom: 10px;
}

.release-page-label {
  color: #000;
  margin-bottom: 10px;
}

.releases-page-filters input[type="range"] {
  width: 100%;
}

.dark-theme .release-page-label {
  color: #ffffff;
}

.releases-page-filters-container-year {
  display: flex;
  justify-content: space-between;
}

.releases-page-filters>div {
  padding: 20px;
  border-radius: 25px;
  background-color: #D8E2EB;
}

.dark-theme .releases-page-filters>div {
  background-color: #181818;
}

.btn-show-more {
  padding: 10px 0px;
  margin: 20px;
  color: #000;
  background-color: #2196f1;
  border-radius: 25px;
  width: 100px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.btn-show-more_loading span {
  display: none;
}

.btn-show-more_loading {
  width: 20px;
  height: 20px;
  background-image: url("img/loading.png");
  background-size: contain;
  animation: rotating 0.2s linear infinite;
}

.dark-theme .btn-show-more {
  color: #fff;

}

.dark-theme .search-page-label {
  color: #fff;
}

.releases-page-grid {
  display: grid;
  height: calc(100% - 55px);
  margin-top: 20px;
  grid-template-columns: 3fr 12fr;
  grid-template-rows: 100%;
  grid-gap: 20px;
}

.dark-theme .releases-page-filters span {
  color: #fff;
}

.releases-page-filters {
  padding: 20px;
  border-radius: 40px;
  background-color: #ffffff;
}

.dark-theme .releases-page-filters {
  background-color: #000;
}

.releases-page-filters>div {
  margin-bottom: 20px;
}

.search-results-wrapper {
  overflow: auto;
  height: 100%;
  padding-right: 20px;
}

.search-results {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
}

.close-btn-filters {
  display: none;
  transition: all 0.3s ease-in;
}

.search-page-grid_closed .search-filters-multi-container, .search-page-grid_closed .search-page-multi-range {
  display: none;
}

.search-page-grid_closed .close-btn-filters {
  top: 3px;
  right: 3px;
}

.search-page-grid_closed {
  height: 23px;
}

.search-page-random-films {
  width: 34px;
  height: 34px;
  background-color: #772afe;
  border-radius: 50%;
  background-size: 17px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px 10px 10px auto;
  transition: all 0.2s ease-in;
  cursor: pointer;
  background-image: url("img/dice-white.png");
}

.watch-trailer-kinopoisk {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.watch-trailer-kinopoisk:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url("img/kinopoisk.png");
  background-position: center;
  background-size: 100%;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  background-repeat: no-repeat;
  transform: scale(1);
  transition: all ease-in 0.2s;
}

.similar-films {
  padding: 20px;
  border-radius: 50px;
  background-color: #000000;
  margin-left: 20px;
  color: #ffffff;
  height: 100%;
}

.similar-films-item-title {
  text-align: center;
  margin-top: 20px;
}
.similar-films-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.similar-films-container {
  width: 100%;
  height: 100%;
}

.similar-films-grid {
  display: grid;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 20px;
  height: calc(100% - 80px);
  max-height: 100%;
  overflow: auto;
}

.similar-films-grid::-webkit-scrollbar {
  width: .5em;
  height: .5em;
  border-radius: 5px;
}

.similar-films-grid::-webkit-scrollbar-thumb {
  background: rgba(104, 104, 104, 0.42);
  border-radius: 5px;
}

.similar-films-grid::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 5px;
}

.similar-films-item {
  width: 100%;
}

.similar-films-item .load {
  width: 50%;
  margin: 0 auto;
}

.torrents-modal {
  background-color: #2a3440;
}

.similar-films-item .load img {
  width: 100%;
  height: auto;
  border-radius: 35px;
}

.watch-trailer-kinopoisk:hover:after {
  transform: scale(1.1);
}

.alert-modal-container {
  width: 100%;
  height: 100%;
  background-color: #0b0c0d;
  background-repeat: no-repeat;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-grid-trailers {
  width: 100%;
}

.modal-grid-trailers-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max-content;
  grid-gap: 20px;
  /*flex-wrap: wrap;*/
  /*flex-direction: row;*/
  /*align-content: center;*/
  /*justify-content: center;*/
}

.thumbnail-video {
  flex: 1;
  margin: 20px;
  max-width: 500px;
  animation-duration: 0.5s;
  animation-name: scaleIn;
  opacity: 0;
  animation-fill-mode: forwards;
}

/*.thumbnail-video:nth-child(1), .thumbnail-video:nth-child(2), .thumbnail-video:nth-child(3), .thumbnail-video:nth-child(4), .thumbnail-video:nth-child(5),*/
/*.thumbnail-video:nth-child(6), .thumbnail-video:nth-child(7), .thumbnail-video:nth-child(8) {*/
/*  display: block;*/
/*}*/

.thumbnail-video-container-img {
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.thumbnail-video-container-img_youtube:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("./img/youtube.svg");
  background-size: contain;
  position: absolute;
  z-index: 20;
  top: calc(50% - 25px);
  right: calc(50% - 25px);
  transform: scale(1);
  transition: all ease-in 0.2s;
}

.thumbnail-video-container-img_youtube:hover:after {
  transform: scale(1.1);
}

.thumbnail-video-title {
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  text-align: center;
}

.thumbnail-video-img {
  width: 100%;
  height: auto;
}

.search-page-random-films:hover {
  background-color: #4e1db1;
}

.room-quiz {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
  height: calc(100% - 55px);
}

.room-quiz-id {
  text-align: center;
  margin-bottom: 20px;
}

.form-quiz {
  padding: 20px 20px 20px 20px;
  position: relative;
  width: 300px;
  margin: 30px auto;
  background-color: #000000;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-result input {
  display: block;
  outline: none;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
  height: 34px;
  border-radius: 25px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
}

.form-quiz input {
  display: block;
  outline: none;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;
  height: 34px;
  border-radius: 25px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: none;
}

.form-quiz h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.form-quiz button {
  outline: none;

  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  font-size: 0.8rem;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;;
  cursor: pointer;
  transition: all ease-in 0.1s;
}

.form-quiz button:hover {
  background-color: #fafafa;
  transform: translateY(1px);
}

.show-more-images {
  outline: none;

  box-sizing: border-box;
  border: none;
  border-radius: 25px;
  margin: 0 auto;
  display: block;
  font-size: 0.8rem;
  padding: 0.6rem 0.8rem 0.6rem 0.8rem;;
  cursor: pointer;
  transition: all ease-in 0.1s;
  display: inline-block;
  background-color: #ffffff;
  color: #000000;
  margin-top: 20px;
}

.quiz-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.forms-quiz {
  width: 100%;
  padding: 10px;
}

.quiz-leaderboard__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}

.room-game, .room-quiz-sidebar {
  background-color: #000000;
  border-radius: 30px;
  color: #ffffff;
  padding: 20px;
  position: relative;
}
.room-start-game:hover {
  background-color: #fafafa;
  transform: translateY(1px);
}
.room-start-game {
  position: absolute;
  bottom: 40px;
  right: 40px;
  outline: none;
  box-sizing: border-box;
  border: none;
  border-radius: 35px;;
  margin: 0 auto;
  display: block;
  font-size: 2rem;
  padding: 0.6em 0.8em 0.6em 0.8em;;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
  display: inline-block;
  transition: all ease-in 0.1s;

}



@media only screen and (max-width: 1440px) {
  /*.search-filters-container {*/
  /*    display: grid;*/
  /*    grid-template-columns: 1fr 1fr;*/
  /*    grid-gap: 20px;*/
  /*}*/

  .search-page-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }


  .search-page-grid_closed {
    grid-template-columns: 1fr;
    grid-template-rows: 30px calc(100% - 97px);
    height: 100%;
  }

  .search-filters-container {
    position: relative;
  }

  .close-btn-filters {
    display: block;
    position: absolute;
    right: 0px;
    top: -54px;
    background-color: #772afe!important;
    width: 34px;
    height: 34px;
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.1s ease-in;
    border-radius: 35px;
    padding: 0!important;
    background-image: url("img/invisible-dark.png");
  }

  .close-btn-filters:hover {
    background-color: #4e1db1 !important;
  }

  .dark-theme .close-btn-filters {
    background-image: url("img/invisible.png");
  }
}

@media only screen and (max-width: 1160px) {
  .movie-page-container {
    display: block;
  }

  .similar-films-container {
    height: auto;
  }

  .similar-films {
    flex: 1;
  }

  .movie-page-main-information_prequels {
    padding-bottom: 250px;
  }

  .movie-page-prequels {
    right: 0;
  }

  .movie-page-container {
    max-height: calc(100% - 57px);
    overflow: auto;
  }

  .movie-page-upper {
    height: auto;
  }

  .similar-films-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .movie-page-image {
    width: 100%;
  }

  .movie-page-image .load {
    width: 200px;
    margin: 0 auto;
  }

  .similar-films {
    margin: 20px 0 0 0;
  }

  .movie-page-upper-information {
    display: block;
    text-align: center;
  }

  .movie-page-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

@media only screen and (max-width: 790px) {
  .container {
    padding: 5px;
  }

  .content {
    height: calc(100vh - 10px);
  }

  .navlink-content span {
    display: none;
  }

  .navlink-content {
    width: auto;
    background-position: center;
  }
}

@media (min-width: 1475px) {
  .main-grid-movies {
    grid-template-columns: repeat( auto-fit, minmax(32%, 1fr) );
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0;
  }


  .content {
    border-radius: 0;
    padding: 10px;
    height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
  }

  .main-content {
    padding: 10px;
  }

  .sidebar-container .sidebar {
    min-width: auto;
    width: 110px;
    margin-right: 10px;
    transform: translateX(0);
    transition: all 0.2s ease-in;
    z-index: 1;
  }

  .sidebar-container .sidebar_hidden {
    margin-right: 0px;
    width: 0;
    transform: translateX(-150px);
  }



  .result-holder {
    left: 0;
    grid-template-columns: 1fr;
    max-height: calc(100vh - 80px);
    overflow: auto;
  }

  .load-image, .movie-page-image .load-image {
    min-width: 92px;
    min-height: 140px;
  }

  .main-content {
    padding: 0;
  }

  .main-grid-movies {
    grid-template-columns: 1fr;
    margin-top: 10px;
  }

  .similar-films-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }

  .header {
    padding: 10px;
  }

  .scroll {
    padding-right: 10px;
  }

  .movie-information {
    font-size: 0.8rem;
  }

  .movie-title {
    font-size: 1rem;
  }

  .mobile-btn-toggle-sidebar {
    width: 50px;
    background-color: #772afe;
    background-image: url("./img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    border-radius: 15px;
    margin-right: 20px;
    z-index: 10;
  }

  .navlink-rect {
    border-radius: 35px;
  }

  .sidebar-navlink-active:after {
    display: none;
  }

  .bottom-circle, .upper-circle {
    display: none;
  }
}

@keyframes after-circle-animation {
  from {
    width: 0;
  }

  to {
    width: 20px;
  }
}


@keyframes bottom-circle-animation {
  from {
    border-top-right-radius: 0px
  }

  to {
    border-top-right-radius: 20px
  }
}

@keyframes up-circle-animation {
  from {
    border-bottom-right-radius: 0px
  }

  to {
    border-bottom-right-radius: 20px
  }
}

@keyframes slidein {
  from {
    width: 10px;
    left: 180px;
  }

  to {
    width: 100%;
    left: 0;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
